.css-1fdsijx-ValueContainer { 
    top: -3px!important;
  }
  .css-13cymwt-control {
    /* max-height: 30px!important; */
    line-height: 17px!important;
    min-height: 30px!important;
}
.form-control {
    margin-bottom: 5PX!important;
}